<div class="container">
  <h1 class="center">LSHC Game</h1>
  <div class="row">
    <div class="col s6">
      <p>

      </p>
    </div>
    <div class="col s6">
      <div class="card">
        <div class="card-content blue-grey lighten-5">
          <form class="col s12">
            <div class="input-field col s12">
              <input id="name" type="text" class="validate" required>
              <label for="name">Name</label>
            </div>
            <div class="input-field col s12">
              <input id="email" type="email" class="validate" required>
              <label for="email">Email</label>
            </div>
            <div class="input-field col s12">
              <input id="serviceLine" type="text" class="validate" required>
              <label for="serviceLine">Service Line</label>
            </div>
            <p class="input-field col s12 clearfix">
              <button type="submit" id="enterGame" name="button" class="btn waves-effect waves-light right">Start Game</button>
            </p>
          </form>
          <br>
          <h6>* all fields are mandatory</h6>
        </div>
      </div>

    </div>
  </div>
</div>
