<div class="container go-wrapper white-text">
  <div class="holder center">
    <h5 class="answered">Certificate of Achievement</h5>
    <h5 class="kicked">Time up</h5>
    <p class="answered">Congratulations <span class="name">Your Name</span>, you have successfully completed the LSHC Game in <span class="min">0</span> min <span class="sec">0</span>sec.</p>
    <p class="kicked">Hey <span class="name">Your Name</span>, maximum time of <span class="min">2</span> min for this game is over. You can retry or exit the game.</p>
    <div class="action-buttons">
      <div class="row">
        <div class="col s6 offset-s3 center">
          <a href="/rules" class="btn waves-effect waves-light light-green darken-1 col s6 btn" id="restart"> <i class="material-icons left">replay</i> restart</a>
          <a href="/" class="btn waves-effect waves-light red darken-1 col s5 offset-s1 btn" id="quit"><i class="material-icons left">exit_to_app</i> quit</a>
        </div>
      </div>
    </div>
  </div>
</div>
