<div class="container go-wrapper white-text">
  <div class="holder center">
    <h5>Certificate of achievement</h5>
    <p>Congratulations <span class="name"></span>, you have successfully completed the LSHC Game in <span class="min"></span> min <span class="sec"></span>sec.</p>
    <a href="javascript:void(0)" onclick="window.print()" class="btn btn-flat print-icon white-text"><i class="material-icons left">print</i> Print</a>
  </div>
</div>
