<!DOCTYPE html>
<html>

<head>
  <title>LSHC game</title>
  <link rel='stylesheet' href='/stylesheets/reset.css' />
  <link rel='stylesheet' href='/stylesheets/common.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  {{{body}}}

  <script type="text/javascript" src="./javascripts/dependencies/jquery-3.2.1.min.js"></script>

  <script type="text/javascript" src="./javascripts/entry.js"></script>
  <script type="text/javascript" src="./javascripts/game.js"></script>
  <script type="text/javascript" src="./javascripts/exit.js"></script>

  <script type="text/javascript" src="./javascripts/main.js"></script>

  </script>
</body>

</html>
