<div class="container">
  <div class="extra-text white-text rules-container">
    <h4 class="center">Rules</h4>
    <ol class="browser-default">
      <li>Use <i class="material-icons amber-text">arrow_back</i> and <i class="material-icons amber-text">arrow_forward</i> arrows to move ambulance</li>
      <li>Almost every question has a hint and you will have to earn them</li>
      <li>Catch <b class="yellow-text">3</b> positive tokens to see hint for next question to come.</li>
      <li>Every positive token will <b class="green-text">add 10</b> points to your score.</li>
      <li>Every negetive token will <b class="red-text">reduce 10</b> points of your score.</li>
      <li>Answer <b class="green-text">5</b> questions to end the game</li>
      <li>Number of correct answers will be indicated by glowing stars</li>
      <li>You have only <b class="red-text">2</b> minutes to do this!</li>
    </ol>

    <div class="row center">
      <p class="ackwldge">
        <input type="checkbox" id="rulesRead" />
        <label for="rulesRead">I have read the above mentioned rules.</label>
      </p>
      <a href="/play-game" class="btn waves-effect waves-light light-green darken-1" id="play" disabled>Play</a>
    </div>
  </div>
</div>
