<div class="container">
  <div class="extra-text white-text rules-container">
    <ol class="browser-default">
      <li>Use <i class="material-icons amber-text">arrow_back</i> and <i class="material-icons amber-text">arrow_forward</i> arrows to move ambulance</li>
      <li>Every question has a hint.</li>
      <li>Watch out for the hint indicator for the hints to come.</li>
      <li>Every a positive token falling from sky is caught, you get closer to hint. </li>
      <li>Catch 3 tokens to see hint for next question to come.</li>
      <li>Answer <b class="green-text">5</b> questions to end the game</p>
      </li>
    </ol>

    <div class="row center">
      <p class="ackwldge">
        <input type="checkbox" id="rulesRead" />
        <label for="rulesRead">I have read the above mentioned rules.</label>
      </p>
      <a href="/play-game" class="btn waves-effect waves-light light-green darken-1" id="play" disabled>Play</a>
    </div>
  </div>
</div>
