* {
  margin: 0;
  padding: 0;
}

body {
  background: #f5f5f5;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('../images/bg.jpg');
  background-size: cover;
  padding: 1px 0;
}

body:after {
  content: "";
  display: block;
  clear: both;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
  top: 0;
  background-color: rgba(4, 7, 0, 0.82);
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#brand {
    top: 12px;
    position: fixed;
    color: white;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    left: 20px;
}

#brand:after {
  content: ".";
  color: #86BC25;
}


/*Top Scorer Styles*/
.top-scorer-tab .card-panel > .row {
  margin-bottom: 0;
}

.top-scorer-tab img {
  width: 80%;
}

.top-scorer-tab .label {
    font-weight: bold;
    color: #9E9E9E;
}

.top-scorer-tab .top-scorer {
  color: white;
  font-size: 40px;
}

.top-scorer-tab .top-score {
    font-size: 30px;
    color: #8BC34A;
}


.page-footer {
  padding-top: 1px;
}

#credForm .err-msg {
  display: none;
}

#credForm.fill-all .err-msg {
  display: block;
}

.icon-inline {
  position: relative;
  top: 5px;
}

.title {
  text-transform: uppercase;
  font-size: 38px;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.26);
  font-weight: bold;
  color: #fcfcfc;
  padding: 16px;
  background-color: #22b728;
  border-radius: 2px;
  margin-top: 60px;
}

.extra-text {
  font-size: 25px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.08);
}

.go-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.2);
  padding: 50px 100px;
  padding-bottom: 20px;
  width: 60%;
}

.holder h5 {
  margin-bottom: 20px;
  font-size: 1.8rem;
}

.holder span {
  border-bottom: 2px dotted #fff;
  padding: 0 5px;
}

.holder span.name {
  min-width: 100px;
  display: inline-block;
  padding: 0 25px;
}

.holder p {
  font-size: 1.3rem;
}

.action-buttons {
  margin-top: 30px;
}

.rules-container {
  margin-top: 50px;
  font-size: 22px;
}

.rules-container ol {
  margin-bottom: 20px;
  list-style-type: disc;
  padding-left: 30px;
}

.rules-container li {
  padding-bottom: 5px;
}

.ackwldge {
  margin-bottom: 20px;
}

.ackwldge label {
  color: #fff;
}

.ackwldge label:before {
  border-color: #fcfcfc;
}

.ackwldge [type="checkbox"]:checked+label:before {
  border-right: 3px solid #ccff90;
  border-bottom: 3px solid #ccff90;
}
