 body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   overflow: hidden;
 }

 main {
   flex: 1 0 auto;
   align-items: center;
   display: flex;
   /*position: relative;*/
 }

 .loading {
   position: relative;
 }

 .loading:after {
   content: url('../images/loading.gif');
   position: absolute;
   left: 50%;
   top: 50%;
   margin: -13px 0 0 -51px;
   opacity: 0.8;
 }

 #game-holder {
   margin: 0 auto;
   width: 70%;
   display: block;
   max-width: 900px;
   max-height: 580px;
   background: #fff;
 }

 #mute-btn {
   position: absolute;
   top: 0;
   right: 0;
   padding: 10px 20px;
   border-radius: 24px;
   background-color: #0d0d0d;
   color: white;
   border: 1px solid #2e7a31;
   text-transform: uppercase;
   font-weight: bold;
   margin: 10px;
   cursor: pointer;
 }

 #mute-btn.active {
   background-color: #2e7a31;
 }

 .toast-container {
   top: initial;
   bottom: 12%;
   right: 7%;
   width: 90%;
 }

 .toast {
   display: block;
   text-align: center;
   word-break: break-word;
   border: 1px solid black;
   float: none;
 }

 .question [type="radio"]:not(:checked)+label, .question [type="radio"]:checked+label {
   color: black;
   display: inline-block;
   width: 100%;
   height: auto;
 }

 .question [type="radio"]:checked+label:after, .question [type="radio"].with-gap:checked+label:after {
   background: #5a5a5a;
   border-color: #5a5a5a;
 }

 .question.invalid [type="radio"]:checked+label {
   background: #d32f2f;
   color: #fff;
 }

 .question.valid [type="radio"]:checked+label {
   background: #26a69a;
   color: #fff;
 }

 .modal .modal-footer .btn {
   margin-left: 20px;
 }

.preloader {
  position: relative;
}
.preloader #start-btn {
    content: "PLAY";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.37);
    border-radius: 10px;
    font-size: 40px;
    font-weight: bold;
    padding: 20px 40px;
    cursor: pointer;
}

footer .material-icons {
  font-size: 1rem;
}